*{
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif;
}

body{
    background-color: #F7F7F7;
}

h1{
    padding: 23px 0 22px 137px;
    background-color: white;
    box-shadow: 0 3px 30px #7B7B7B29;
}

.headings{
    color: #00A5EC;
}


.addButton{
    position: relative;
    margin: 36px 0 40px 1011px;
}

.addIcon{
    color: #00A5EC;
    size: 1000px;
}

.addText{
    /* font-family: 'inter', sans-serif; */
    font-size: 22px;
    font-weight: 400;
    color: #424242;
    padding-left: 15px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0 139px;
}

.inner-container1{
    background-color: white;
    width: 352px;
    height: 360px;
    border: 1px solid #ededed;
    border-radius: 10px;
}

.inner-container1:hover{
    box-shadow: 3px 3px 5px 1px gray;
}

.inner-heading{
    font-size: 24px;
    margin: 9.4% 0% 8.5% 8.5%;
}

p{
    padding-left: 30px;
}

.inner-container2{
    line-height: 34px;
    font-size: 18px;
    font-weight: 10px;
    margin-top: 8.5%;
    margin-left: 15%;
}

input{
    width: 30px;
    height: 30px;
    margin-bottom: 7%;
}

.lineThrough{
    text-decoration: line-through;
    color: #C2C2C2;
}